1. What are data structures, and why are they important?
    -> Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently.
   
    Importance of data structures :-

    1 - Efficiency: Good data structures make your programs faster and use less memory.

    2 - Problem Solving: Many coding problems (especially in Data Structures & Algorithms or Dynamic Programming) require the right structure.


2.  Explain the difference between mutable and immutable data types with examples ?

  -> Mutable : Object that can changed after creation.
       Example - list,dictionary,set etc.

     Immutable : Object that cannot changed after creation.
       Example - tuple,string etc.

3. What are the main differences between lists and tuples in Python ?

  -> List            Tuple

     Mutable         Immutable

     Symbol - []     Symbol-()

     slow performance high performance

4. Describe how dictionaries store data ?

  -> Dictionaries store data as key-value pairs.

  Keys are always unique

  key-value pairs - {keys : values}


5. Why might you use a set instead of a list in Python?

  -> Sets automatically remove duplicates.

  Faster membership checks (in operation).

6. What is a string in Python, and how is it different from a list ?

  ->String -
      * String is the sequence of character in which each character has its unique numerical value .
      * String is immutable in nature.

  List -
    * List is the collection of various data type which are stored in single variable.
    * List is mutable in nature.

7. How do tuples ensure data integrity in Python?

  -> Tuples are immutable, so once created, they can’t be changed — ideal for constant data.

8. What is a hash table, and how does it relate to dictionaries in Python?

  -> A hash table maps keys to values using a hash function for quick access.
Dictionaries in Python are built on hash tables.
9. Can lists contain different data types in Python ?

  -> Yes, lists contain different data types in Python.

10. Explain why strings are immutable in Python ?

  -> Strings are immutable, meaning once a string is created, you cannot change its characters directly. Any operation that seems to modify a string actually creates a new string.

11. What advantages do dictionaries offer over lists for certain tasks ?

  ->  * Fast access by key, not position
     * No Duplication allowed

12. Describe a scenario where using a tuple would be preferable over a list ?

  -> *  When data should not be modified.
   * Tuples can also be used as dict keys.

13.  How do sets handle duplicate values in Python?

  -> Sets remove duplicates automatically.


14. How does the “in” keyword work differently for lists and dictionaries ?

  -> List: Checks each element (O(n))

     Dictionary: Checks key value in hash table (O(1))

15. Can you modify the elements of a tuple? Explain why or why not ?

  -> No — tuples are immutable:

16. What is a nested dictionary, and give an example of its use case?


  -> A dictionary inside another dictionary.

  students = {
  "101": {"name": "AAA", "marks": 88},
  "102": {"name": "BBB", "marks": 75}
}


17. Describe the time complexity of accessing elements in a dictionary.

  -> O(1) average case because of hash table.

18. In what situations are lists preferred over dictionaries.

  -> * When order matters
     * When storing simple sequences without named keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval.

  -> Dictionaries didn’t maintain order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

  -> List: Retrieve by index
         my_list[0].

    Dict: Retrieve by key
        my_dict["name"]

1. Write a code to create a string with your name and print it.

In [ ]:
name = "Kirti Kuswhaha"
print("Your name is "+name)

Your name is Kirti Kuswhaha

2. Write a code to find the length of the string "Hello World".

In [ ]:
first="Hello WOrld !!!!"
print("The length of string first is "+str(len(first)))

The length of string first is 16

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
py="Python Programming"
print(py[:3])

Pyt


4. Write a code to convert the string "hello" to uppercase.

In [ ]:
he="hello"
print(he.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
strr="I like apple"
strr.replace("apple","orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
listt1=[1,2,3,4,5]
print(listt1)
for i in range(0,len(listt1)):
  print(listt1[i])

[1, 2, 3, 4, 5]
1
2
3
4
5


7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
listt1=[1,2,3,4]
listt1.append(10)
listt1

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
listt1=[1,2,3,4,5]
listt1.remove(3)
listt1

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
list= ['a', 'b', 'c', 'd']
list[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list =[10, 20, 30, 40, 50]
list[::-1]

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tup=(100,200,300)
tup

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tuple= ('red', 'green', 'blue', 'yellow')
tuple[-2]

'blue'

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tuple= (10, 20, 5, 15)
min(tuple)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple =('dog', 'cat', 'rabbit')
for i in range(0,len(tuple)):
  if tuple[i]== 'cat':
     print(i)
     break

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ("apple", "banana", "mango")

if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.


16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
sett={'a','b','c','b','c','c'}
print(sett)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set= {1, 2, 3, 4, 5}
print(sett)
print(set.clear())

{'c', 'a', 'b'}
None

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set1 ={1, 2, 3, 4}
print(set1)
set1.remove(4)
print(set1)

{1, 2, 3, 4}
{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1= {1, 2, 3}
set2= {3, 4, 5}
set3=set1|set2
print(set3)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1= {1, 2, 3}
set2= {3, 4, 2}
set3=set1&set2
print(set3)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dict={
    "name":"Shadow and Bone",
    "age": 54,
    "city":"Bulandshahr"
}
print(dict)

{'name': 'Shadow and Bone', 'age': 54, 'city': 'Bulandshahr'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dictionary= {'name': 'Alice', 'age': 30}
print(dictionary['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dictionary= {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(dictionary.pop('age'))
print(dictionary)

22
{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dictionary= {'name': 'Alice', 'city': 'Paris'}
dictionary.get('city')

'Paris'

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3, 4, 5]

my_tuple = ('apple', 'banana', 'cherry')

my_dict = {'name': 'Alice', 'age': 30}

# Printing them
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

# Print the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [18, 24, 44, 52, 71]


28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
# Create a list with strings
words = ["apple", "banana", "cherry", "date", "elderberry"]

# Print the element at the third index
print("Element at index 3:", words[3])

Element at index 3: date

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [ ]:
fruits = ["apple", "banana", "cherry", "apple", "banana"]  # List with duplicates

fruit_set = set(fruits)  # Convert to set to remove duplicates

print("Set of fruits:", fruit_set)

Set of fruits: {'apple', 'cherry', 'banana'}